@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #eee8e4;
}

.contact-image{
  
  width: 150px;
  height: 150px;
  border-radius: 50%;
}